{% extends "music_site/base.html" %}
{% load crispy_forms_tags %}


<body>
<div class="content">
<title>Change Password</title>
    {% block content %}
        <div class ="form-group ">
            <form class="ml-3 mb-2" method="POST">
                {% csrf_token %}
                <fieldset class = "form-group">
                    {{ form|crispy }}
        
                    <legend class ="border-bottom mb-1">Change Password</legend>
                </fieldset>
                <button class="btn btn-outline-info mb-2">Change Password</button>
            </form>
        </div>
    {% endblock %}
    </div>
</body>
