{% extends "music_site/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h2>Uploads</h2>

<div class="filter">
<form method="get">
    {{ filter.form }}
    <button class ="btn btn-primary" type="submit"> Search </button>
</form>
    </div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Uploader</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Key</th>
            <th>Instrument</th>
            <th>Times Used</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for upload in uploads %}
            <tr>
                <td> {{ upload.uploader }}</td>
                <td>  <b> <a href="{% url 'details' upload.pk %}"> {{ upload.title }} </a> </b>  </td>
                <td> {{ upload.genre }}</td>
                <td> {{ upload.key }}</td>
                <td> {{ upload.instrument }}
                </td>
                <td> {{ upload.sample_count }}</td>
                <td> <audio controls>
                    <source src="{{ upload.mp3.url }}" type="audio/mpeg">
                </audio>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}